@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.9848 0.0013 106.4233);
	--foreground: oklch(0.2685 0.0063 34.2976);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.2685 0.0063 34.2976);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2685 0.0063 34.2976);
	--primary: oklch(0.4907 0.2412 292.5809);
	--primary-foreground: oklch(0.9842 0.0034 247.8575);
	--secondary: oklch(0.9674 0.0013 286.3752);
	--secondary-foreground: oklch(0.3703 0.0119 285.8054);
	--muted: oklch(0.9683 0.0069 247.8956);
	--muted-foreground: oklch(0.5517 0.0138 285.9385);
	--accent: oklch(0.967 0.0029 264.5419);
	--accent-foreground: oklch(0.2781 0.0296 256.848);
	--destructive: oklch(0.5771 0.2152 27.325);
	--destructive-foreground: oklch(0.9705 0.0129 17.3797);
	--border: oklch(0.9197 0.004 286.3202);
	--input: oklch(0.9197 0.004 286.3202);
	--ring: oklch(0.4907 0.2412 292.5809);
	--chart-1: oklch(0.4907 0.2412 292.5809);
	--chart-2: oklch(0.6056 0.2189 292.7172);
	--chart-3: oklch(0.8112 0.1013 293.5712);
	--chart-4: oklch(0.8268 0.1082 306.3827);
	--chart-5: oklch(0.9433 0.0284 294.5878);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.2685 0.0063 34.2976);
	--sidebar-primary: oklch(0.4907 0.2412 292.5809);
	--sidebar-primary-foreground: oklch(0.9842 0.0034 247.8575);
	--sidebar-accent: oklch(0.967 0.0029 264.5419);
	--sidebar-accent-foreground: oklch(0.2781 0.0296 256.848);
	--sidebar-border: oklch(0.9197 0.004 286.3202);
	--sidebar-ring: oklch(0.4907 0.2412 292.5809);
	--font-sans: system-ui, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--radius: 1rem;
	--shadow-x: 0;
	--shadow-y: 0.05rem;
	--shadow-blur: 0.15rem;
	--shadow-spread: 0.05rem;
	--shadow-opacity: 0.01;
	--shadow-color: 0 0 0;
	--shadow-2xs: 0 0.05rem 0.15rem 0.05rem hsl(0 0 0 / 0.01);
	--shadow-xs: 0 0.05rem 0.15rem 0.05rem hsl(0 0 0 / 0.01);
	--shadow-sm:
		0 0.05rem 0.15rem 0.05rem hsl(0 0 0 / 0.01),
		0 1px 2px -0.95px hsl(0 0 0 / 0.01);
	--shadow:
		0 0.05rem 0.15rem 0.05rem hsl(0 0 0 / 0.01),
		0 1px 2px -0.95px hsl(0 0 0 / 0.01);
	--shadow-md:
		0 0.05rem 0.15rem 0.05rem hsl(0 0 0 / 0.01),
		0 2px 4px -0.95px hsl(0 0 0 / 0.01);
	--shadow-lg:
		0 0.05rem 0.15rem 0.05rem hsl(0 0 0 / 0.01),
		0 4px 6px -0.95px hsl(0 0 0 / 0.01);
	--shadow-xl:
		0 0.05rem 0.15rem 0.05rem hsl(0 0 0 / 0.01),
		0 8px 10px -0.95px hsl(0 0 0 / 0.01);
	--shadow-2xl: 0 0.05rem 0.15rem 0.05rem hsl(0 0 0 / 0.03);
	--tracking-normal: normal;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.2161 0.0061 56.0434);
	--foreground: oklch(0.9232 0.0026 48.7171);
	--card: oklch(0.2685 0.0063 34.2976);
	--card-foreground: oklch(0.9232 0.0026 48.7171);
	--popover: oklch(0.2685 0.0063 34.2976);
	--popover-foreground: oklch(0.9232 0.0026 48.7171);
	--primary: oklch(0.6056 0.2189 292.7172);
	--primary-foreground: oklch(0.2161 0.0061 56.0434);
	--secondary: oklch(0.3741 0.0087 67.5582);
	--secondary-foreground: oklch(0.8687 0.0043 56.366);
	--muted: oklch(0.3703 0.0119 285.8054);
	--muted-foreground: oklch(0.7118 0.0129 286.0665);
	--accent: oklch(0.4419 0.0146 285.7864);
	--accent-foreground: oklch(0.9842 0.0034 247.8575);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(0.2161 0.0061 56.0434);
	--border: oklch(0.3741 0.0087 67.5582);
	--input: oklch(0.3741 0.0087 67.5582);
	--ring: oklch(0.6056 0.2189 292.7172);
	--chart-1: oklch(0.6056 0.2189 292.7172);
	--chart-2: oklch(0.709 0.1592 293.5412);
	--chart-3: oklch(0.8112 0.1013 293.5712);
	--chart-4: oklch(0.8268 0.1082 306.3827);
	--chart-5: oklch(0.9433 0.0284 294.5878);
	--sidebar: oklch(0.2685 0.0063 34.2976);
	--sidebar-foreground: oklch(0.9232 0.0026 48.7171);
	--sidebar-primary: oklch(0.6056 0.2189 292.7172);
	--sidebar-primary-foreground: oklch(0.2161 0.0061 56.0434);
	--sidebar-accent: oklch(0.4419 0.0146 285.7864);
	--sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
	--sidebar-border: oklch(0.3741 0.0087 67.5582);
	--sidebar-ring: oklch(0.6056 0.2189 292.7172);
	--font-sans: system-ui, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--radius: 1rem;
	--shadow-x: 0;
	--shadow-y: 0.1rem;
	--shadow-blur: 0.2rem;
	--shadow-spread: 0.1rem;
	--shadow-opacity: 0.01;
	--shadow-color: 0 0 0;
	--shadow-2xs: 0 0.1rem 0.2rem 0.1rem hsl(0 0 0 / 0.01);
	--shadow-xs: 0 0.1rem 0.2rem 0.1rem hsl(0 0 0 / 0.01);
	--shadow-sm:
		0 0.1rem 0.2rem 0.1rem hsl(0 0 0 / 0.01), 0 1px 2px -0.9px hsl(0 0 0 / 0.01);
	--shadow:
		0 0.1rem 0.2rem 0.1rem hsl(0 0 0 / 0.01), 0 1px 2px -0.9px hsl(0 0 0 / 0.01);
	--shadow-md:
		0 0.1rem 0.2rem 0.1rem hsl(0 0 0 / 0.01), 0 2px 4px -0.9px hsl(0 0 0 / 0.01);
	--shadow-lg:
		0 0.1rem 0.2rem 0.1rem hsl(0 0 0 / 0.01), 0 4px 6px -0.9px hsl(0 0 0 / 0.01);
	--shadow-xl:
		0 0.1rem 0.2rem 0.1rem hsl(0 0 0 / 0.01),
		0 8px 10px -0.9px hsl(0 0 0 / 0.01);
	--shadow-2xl: 0 0.1rem 0.2rem 0.1rem hsl(0 0 0 / 0.03);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
	letter-spacing: var(--tracking-normal);
}
